.presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    height: 500px;
    width: auto;
    padding: 20px 20px;
}

a{
    text-decoration-line: none;
    color: #604094;
}

.profil{
   
    width: 500px;
    padding-right: 50px;
}

.presentation-text{
    font-size: 30px;
    text-align: justify;
    padding-left: 10%;
}

@media screen and (max-width: 1490px) {

.presentation{
    height: auto;
}
.presentation-text {
    display: none;
    }
  }
 .profil{
    padding-right: 0;
    width: 200px;
 }
