/* Base */
html,
body {
    margin: 0;
    padding: 0;
}

/* Polices */

@font-face {
    font-family: "Radikal";
    src: url("./assets/font/Nootype - Radikal.otf"),
    url("./assets/font/Nootype - Radikal Bold.otf"),
    url("./assets/font/Nootype - Radikal Bold Italic.otf"),
    url("./assets/font/Nootype - Radikal Italic.otf");
}

* {
    font-family: "Radikal";
    box-sizing: border-box;
    margin:0;
}

/* Contenu */
.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

