
@font-face {
    font-family: "Radikal";
    src:
    url("./assets/font/Radikal.woff2") format('woff2'),
    url('./assets/font/Radikal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* Base */
html,
body {
    margin: 0;
    padding: 0;
}

/* Polices */




* {
    font-family: "Radikal";
    box-sizing: border-box;
    margin:0;
}

/* Contenu */
.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

