@font-face {
    font-family: "Radikal";
    src:
    url('../src/assets/font/Radikal.woff2') format('woff2'),
    url('../src/assets/font/Radikal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}