main {
  display: flex;
  flex-direction: column;
  margin: auto 10%;
  width: 80%;
  height: auto;
  position: relative;
}

@media screen and (max-width: 1490px) {
  main {
    margin: auto 5%;
    width: 90%;
  }
}
